body{
    background-color: #fff;
}

#cont{
    widows: 100%;
    height: 50%;
}

#canvas{
    width: 1280px !important;
    height: auto !important;
}

.pagination{
    text-align: center;
}

.progress{
    height: 8px !important;
}

/* .container {
    width: 85% !important;
} */

object{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    width: 100%;
    height: 728px;
}

#boxbtn{
text-align: center;

}

#demo{
    text-align: center;
}

p{
    color: steelblue;

    text-align: center;

}

.card-panel{
    padding: 5px !important;
}


@media screen and (max-width: 375px) {
    body {
      background-color: black;
      color: white;
    }
    object{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        width: 100%;
        height: 148px;
    }

    #boxbtn{
        text-align: center;
        margin: 5;
        }

    #boxbtn4 {
        display: none;
      
    }

    #boxbtn5 {
        display: none;
    }

    #boxbtn6 {
        display: none;
    }

  }